#messageBox{
  max-height: 200px;
  overflow: auto;
}

#userList{
  max-height: 100px;
  overflow: auto;
}

.example-header-image{
  background-size: cover;
}

.form, .input-full-width {
  width: 100%;
}
