<mat-card>
  <mat-list role="list" *ngIf="users" id="userList">
    <mat-list-item role="listitem" *ngFor="let user of users">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="assets/{{user.avatar}}.jpg">
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-divider></mat-divider>
      </mat-card-header>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card id="messageBox">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let message of messages">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="assets/{{message.user.avatar}}.jpg">
        <mat-card-title>{{message.user.name}}</mat-card-title>
        <mat-card-subtitle>{{message.body}}</mat-card-subtitle>
        <mat-divider></mat-divider>
      </mat-card-header>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <form (ngSubmit)="send()">
    <mat-form-field class="form">
      <input matInput placeholder="Write a message" class="input-full-width" [(ngModel)]="message" name="message">
    </mat-form-field>
    <p>
        <button type="submit" mat-button>SEND</button>
      </p>
  </form>
</mat-card>
